*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

  /* style */
nav {
    display: block; 
    margin: 0;
    padding: 0;
}