@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

  html, body {
    min-height: 100vh;
  }

  /* style */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    padding-top: 20px;
    background: #FF5C00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
  width: 240px;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 60px;
}

.navbar a:hover {
  color: #00D26A;
}